version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: portfolio-audiovisual-prod
    ports:
      - "8080:80"
    restart: unless-stopped

